html {
  height: 100%;
}

/* TODO: have the hamburger menu change into an X*/
/* TODO: change the color of the hamburger menu */
/* TODO: decrease the spacing in the hamburger menu */

body {
  background-color: #8dbefe;
  padding: 0;
  margin: 0;
  height: calc(100% - 3em);
  font-family: sans-serif;

}

#main, #placeholder {
  background-color: white;
  border-radius: 1em;
  padding: 2em;
  margin: 1.5em;
  /* margin: 3%; */
  overflow: auto;
}

#create {
  cursor: pointer;
  display: inline-block;
  border-radius: 1em;
  background-color: #71a2e3;
  padding-left: 1em;
  padding-right: 1em;
  height: 2em;
  line-height: 2em;
}

#create:hover {
  background-color: #6094d9;
}

#main.edit {
  height: calc(100% - 4em);
  min-height: 37rem;
}

/* in edit.html */
#question, #question-preview, #answer, #answer-preview {
  border: dashed #e0e0e0;
  border-radius: 1em;
  padding: 1em;
  width: calc(100% - 2em);
  margin-bottom: 2em;
  overflow: auto;
}

#placeholder > *:first-child,
#question > *:first-child,
#question-preview > *:first-child,
#answer > *:first-child,
#answer-preview > *:first-child {
  margin-top: 0;
}

#placeholder > *:last-child,
#question > *:last-child,
#question-preview > *:last-child,
#answer > *:last-child,
#answer-preview > *:last-child {
  margin-bottom: 0;
}

textarea {
  font-size: 1rem;
}

textarea#question, #question-preview {
  height: calc(30% - 5.1rem);
  min-height: 6rem;
}

textarea#answer, #answer-preview {
  height: calc(70% - 11.9rem);
  min-height: 14rem;
}


/* none of the bellow affected the menu on the edit.html page */
#hamburger, #menu {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

#menu {
  border-radius: 1rem;
  border-top-right-radius: 1.5rem;
  background-color: #71a2e3;
  overflow: hidden;
}

#menu > * {
  padding: .60rem;
  padding-right: 3rem;
  cursor: pointer;
}

/* the hover function wasn't working */
#menu > *:hover {
  background-color: #6094d9;

}

#hamburger {
  height: 3rem;
  width: 3rem;
  text-align: center;
  line-height: 3rem;
  font-size: 1.5rem;
  border: 0;
  border-radius: 1.5rem;
  /* background-color: #5087cf; */
  background-color: #8dbefe;
  color: black;
  cursor: pointer;
}

.bar {
  text-align: center;
}

#edit-question, #preview-question, #edit-answer, #preview-answer {
  width: 7em;
  background-color: white;
  border: 0;
  border-radius: 1em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1em;
}

#edit-question.current,
#preview-question.current,
#edit-answer.current,
#preview-answer.current {
  background-color: #f8f8f8;
  border: solid #e0e0e0;
  border-bottom-style: none;
}

#edit-question:hover,
#preview-question:hover,
#edit-answer:hover,
#preview-answer:hover {
  background-color: #f8f8f8;
}

textarea#question, #question-preview, textarea#answer, #answer-preview {
  border-top-left-radius: 0;
}

#correct, #wrong, #done, #cancel {
  width: calc(50% - 1em);
  border: 0;
  border-radius: 1em;
  padding: 1em;
  cursor: pointer;
}

#correct {
  background-color: #dcffdc;
}

#wrong {
  background-color: #ffdcdc;
}

#done, #cancel {
  background-color: #dbdbdb;
}

button {
  outline: 0;
}

button::-moz-focus-inner {
  border: 0;
}

#dashboard {
  width: 100%;
  min-width: 48em;
  table-layout: fixed;
  border-collapse: collapse;
}

#dashboard th {
  padding-top: 1em;
  padding-bottom: 1em;
}

#dashboard td {
  border-top: 1px solid;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  cursor: pointer;
}

#dashboard .excerpt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
}

.date {
  width: 8em;
}

#dashboard tbody tr:hover {
  background-color: #f0f0f0;
}

/* CSS for the content of the cards */

pre {
  border: 1px solid;
  border-radius: 1em;
  padding: 1em;
  overflow: auto;
}

code {
  font-size: 1rem;
  padding-left: 0.2em;
  padding-right: 0.2em;
  background-color: #f0f0f0;
}

pre code {
  padding: 0;
  background-color: inherit;
}


/* I added the bellow code */

footer {
  text-align: center;
  position: bottom;

}

/* START SMALL MEDIA SCREEN */
@media screen and (max-width: 805px) { 

  nav.tablet-desktop {
    /* background-color: hwb(214 5% 21%);
    padding: .5em */
    /* if smaller than 630 pixels than don't display */
    display: none;
  }
  
  nav.mobile-nav {
    /* display: none; */
      /* if smaller than 630 pixels than display this version*/
  
  }
}
/* END SMALL MEDIA SCREEN */


/* START LARGE MEDIA SCREEN */
@media screen and (min-width: 805px) { 

/* for the header - section start */
nav.tablet-desktop {
  background-color: hwb(214 5% 21%);
  padding: .5em
  /* if smaller than 630 pixels than don't display */
}

nav.mobile-nav {
  display: none;
    /* if smaller than 630 pixels than display this version*/
}

nav ul {
 margin-inline-start: 0;
 padding-inline-start: 0;
}

nav li {
  /* border-top: none; */
  display: inline-block;
  border-right: 1px solid #fff;
  padding-right: 3%; 
  padding-left: 3%;
}

nav a {
  color: white;
}

nav li:last-child {
  border-right: none;
}

}
/* END MEDIA SCREEN */


/* idk how the white bars get in there */
a:link {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 0;
}

a:visited {
  text-decoration: none;
}
/* header end section */
/* 805 pixels jump down to small size */


/* about section place holder - only want this when the screen half or full not bellow the 630*/

.about-section {
  display: grid;
  grid-template-columns: auto auto;
  /* column-gap: 20px; */
}

.about-section section {
  background-color: #ffffff;
  text-align: center;
  padding: 2em;
  margin: 1.5em;
  border-radius: 1em;
  overflow: auto;
}

#welcome {
  text-align: center;
}

footer {
  background-color:hwb(214 5% 21%);
  /* position: absolute; */
  margin: 0;
  display: block;
  color:#ffffff;
  size: .75em;
  /* getting rid of the margin for the little bit fo the footer */
  /* margin-top: 1.5em;
  margin-bottom: 1.5em; */
  padding: 1em;
  /* this didn't fix the issue */
  /* padding: 1em; */
}


/* .intro {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;

  background-color: #ffffff;
  text-align: center;
  padding: 2em;
  margin: 1.5em;
  border-radius: 1em;
  overflow: auto;
} */

.more_learning {
  text-align: left;
}

h1 {
  padding: 0;
  font-size: 330%;
  /* this is a off white and makes it a little easier on the eyes */
  /* I want to think about what off white and what color hint I want in it */
  /* Then I would make all the white the off white color */
  /* color: hsl(27, 60%, 86%); */
  /* I like the bellow off white better than the above one */
  /* color: #ffdcdc; */
  color:#fff;
  background-color: hwb(214 5% 21%);
  margin: 0;
  /* text-align: center; */
}

.top-division {
  display: inline-block;
  /* border: 1px solid red; */
  padding: 1rem 1rem;
  /* background-color: hwb(214 5% 21%); */
  /* TODO: change the move the text in the mandarin study tool sbox around */
}

.intro-color {
  background-color: hwb(214 5% 21%);
}

/* moving the footer to the bottom for all the pages*/

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

/* Flashcards */

section.item1 {
  background-color: #dbdbdb;
  margin: 15%;
  text-align: center;
  margin-bottom: 0;
  padding: 15%;
}

section.item2 {
  background-color: #fff;
  /* border-style: dotted; */
  margin: 15%;
  text-align: center;
  margin-top: 0;
  padding: 15%;
  margin-bottom: 0;
}

section.item3 {
  background-color: #dbdbdb;
  margin: 15%;
  text-align: center;
  margin-bottom: 0;
  padding: 15%;
  margin-top: 0;
}

section#card {
  display: grid;
  grid-template-columns: auto auto auto;
}

section.item_svg img {
  /* align-content: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 0; */
  margin-bottom: 15%;
}